<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div style="height: 200px;">

    </div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <form action="/ajouterProduit" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">name</label>
    <input type="text" class="form-control" id="name"  name="name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">description</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">prix</label>
    <input type="Number" class="form-control" id="prix"  name="prix">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">categorie</label>
    <input type="text" class="form-control" id="categorie" name="categorie">
  </div>
  <div class="form-group">
    <label for="urlPhoto">urlPhoto</label>
    <input type="file" class="form-control" id="img" name="image">
    <img src="#" id="imagePreview" alt="">
  </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>





    </div>

</div>

<div class="container">
    <div class="row">
        
        <div class="col-12 col-md-12">
           
            <div class="card-deck"  style="height: 300px;width: 500px;" >
          {{#each products}}
           <div class="card">
           <img src="/images/{{this._id}}/{{this.urlPhoto}}" class="card-img-top" alt="..."  style="height: 300px;width: 470px;" >
           <div class="card-body">
           <h5 class="card-title">{{this.name}}</h5>
           <p class="card-text">{{this.description}}</p>
           <p class="card-text">{{this.categorie}}</p>
           <p class="card-text">{{this.prix}}</p>

          <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            {{/each}}
           
      
  </div>
 
</div>
        </div>
    </div>
</div>









<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
<script>

function readUrl(input){
    if(input.files && input.files[0]){
        var reader=new FileReader();
        reader.onload=function(e){
            $ ("#imagePreview").attr("src", e.target.result).width(100).height(100);
        }
        reader.readAsDataURL(input.files[0])
    }
}
$ ('#img').change(function(){
    readUrl(this);
})

</script>



</body>
</html>